<div *ngIf="genres">
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let genre of genres"><span appSelected>{{genre.name}}</span></li>
  </ul>
  <div class="list">
    <div class="button">Generate</div>
  </div>
  <a class="advanced" href="#"><span>Advanced</span></a>
</div>
<div *ngIf="characters">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let character of characters"><span appSelected>{{character.name}}</span></li>
  </ul>
  <div class="list">
    <div class="button">Generate</div>
  </div>
  <a class="advanced" href="#"><span>Advanced</span></a>
</div>
<div *ngIf="hints">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let hint of hints"><span appSelected>{{hint.type}}</span></li>
  </ul>
  <div class="list">
    <div class="button">Generate</div>
  </div>
  <a class="advanced" href="#"><span>Advanced</span></a>
</div>


