<div *ngIf="items">
  <div class="links">
    <div [ngClass]="{ addition: addHidden === true}" class="add-link" (click)="onAddOption()">+ <span>Add option</span></div>
    <div [ngClass]="{ addition: addHidden === false}" class="add-active">
      <input type="text" [(ngModel)]="optionName">
      <button class="btn" [disabled]="optionName.length < 2" (click)="addGeneratorItem(optionName)">&#10003;</button>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items">
      <span [ngClass]="{ unselected: item.isSelected === false }" (click)="unselectOption(item)">{{ viewType === 'hints' ? item.type : item.name }}</span>
    </li>
  </ul>
  <div class="list">
    <div class="button" (click)="onGenerate()">Generate</div>
  </div>
  <div *ngIf="generatedItem">Result: {{ generatedItem.name }}</div>
  <a *ngIf="viewType" class="more" [routerLink]="viewType === 'hints' ? '/hints' : '/characters'"><span>Advanced</span></a>
</div>

