<div *ngIf="items">
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let item of items"><span [ngClass]="{unselected: item.isSelected === false}" (click)="unselectOption(item)">{{item.name}}</span></li>
  </ul>
  <div class="list">
    <div class="button" (click)="onGenerate()">Generate</div>
  </div>
  <div *ngIf="generatedGenre">Result: {{ generatedGenre.name }}</div>
</div>
<!--<div *ngIf="characters">-->
  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" *ngFor="let character of characters"><span [ngClass]="{unselected: character.isSelected === false}" (click)="unselectOption(character)">{{character.name}}</span></li>-->
  <!--</ul>-->
  <!--<div class="list">-->
    <!--<div class="button">Generate</div>-->
  <!--</div>-->
  <!--<a class="more" routerLink="/characters"><span>Advanced</span></a>-->
<!--</div>-->
<!--<div *ngIf="hints">-->
  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" *ngFor="let hint of hints"><span appSelected>{{hint.type}}</span></li>-->
  <!--</ul>-->
  <!--<div class="list">-->
    <!--<div class="button">Generate</div>-->
  <!--</div>-->
  <!--<a class="more" routerLink="/hints"><span>Advanced</span></a>-->
<!--</div>-->


