.list
  display: flex
  justify-content: center
  .button
    margin-top: 30px
    background-color: #8dc153
    width: 150px
    height: 36px
    text-transform: uppercase
    color: #fff
    font-size: 21px
    padding-top: 4px
    margin-bottom: 5px
    cursor: pointer
    &:hover
      background-color: #81B04C

.more
  color: #8dc153
  text-decoration: underline
  &:hover
    text-decoration: none
    color: #81B04C

.list-group
  margin-top: 10px
  .list-group-item
    border: none
    padding: 4px 1.25rem
    span
      border: 2px solid #8dc153
      display: inline-block
      width: 150px
      height: 32px
      cursor: pointer
      &:hover
        border: 2px solid #b6d791
      &.unselected
        border: 2px solid #eaebec
        color: #eaebec
.links
  display: flex
  justify-content: flex-end
  text-align: left
  color: #8c9398
  text-decoration: none
  font-size: 16px
  cursor: pointer
  .addition.add-link, .addition.add-active
    display: block
  .add-link, .add-active
    display: none
    width: 200px
    height: 30px
    span
      &:hover
        text-decoration: underline
    input
      width: 135px
    button
      color: #fff
      background-color: #8dc153
      margin-left: 2px
      border-radius: 0
      vertical-align: bottom
      padding: 0px 8px
      font-size: 19px
      &:hover
        background-color: #81B04C
