.generation
  display: flex
  justify-content: center
  margin-top: 30px
  min-height: 36px
  button
    background-color: #8dc153
    width: 150px
    height: 36px
    text-transform: uppercase
    color: #fff
    font-size: 21px
    padding-top: 3px
    margin-bottom: 5px
    border-radius: 0
    margin-right: 5px
    &:hover
      background-color: #81B04C

.more
  color: #8dc153
  text-decoration: underline
  &:hover
    text-decoration: none
    color: #81B04C

.list-group
  margin-top: 10px
  .list-group-item
    border: none
    padding: 4px 1.25rem
    &.notunique
      display: none
    span
      border: 2px solid #8dc153
      display: inline-block
      width: 150px
      height: 32px
      cursor: pointer
      &:hover
        border: 2px solid #b6d791
      &.unselected
        border: 2px solid #eaebec
        color: #eaebec

.hidden
  display: none

.results
  margin: 20px 0
  p
    font-weight: bolder

.settings-option
  margin: 0 10px
