<div class="options row">
    <div class="col-md-6">
        <p>Explore more</p>
        <img src="assets/images/spacer.png">
        <div>Find more options for your story basics, add your own ideas and randomize them</div>
        <div class="list">
            <div class="button">Let's try</div>
        </div>
    </div>
    <div class="col-md-6">
        <p>Sign-up and save</p>
        <img src="assets/images/spacer.png">
        <div>Create an account, save ideas and challenges, explore other members results</div>
        <div class="list">
            <div class="button">Let's try</div>
        </div>
    </div>
</div>